<!--The content below is only a placeholder and can be replaced.-->
<body style="background-color: lightblue;">
<div style="text-align:center;">
  <h1>
    Welcome to {{title}}!
  </h1>
  <img width="750" height="250" alt="Angular Logo" src="https://images-na.ssl-images-amazon.com/images/I/61ovu1Es0eL._SY355_.jpg">
</div>
<h2>H̻͔̫͞e̮r̤̮̠e̥̣̮͈̯ ̷̘̣a҉̯ͅŗ͙̙̮̳̘e̝̖͕̱ ̰͎șo͎m̩̫̪̙ͅe̹̲ ̞̼͈͖͇̠͘l͇̞i͓̝̖̙̖͍n̛͕̞͓ͅk͈͙̭ͅs̠͔͈̼ ҉̲̩̥t͚̀o̺͞ h̶̩̹̩͇̮̥e̦̥̣͔͕͔l͖͚̦͡p͏̞̳̮ ̜y͖̯̗͔o̜͖̟̥͖̦͙͢u ̖̮̹̝͟ͅs̵̹̬̥̜̬͖t̷͙̠̞̟a̠̖̤͚̖r̸͎̪̯̭ͅt͖̜̱͔̺̕
  ͎̘͈͘ </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>
<h2>T̶̻̝o̷̤͖̹̤ͅͅ ͠i҉͎n͚̙̤̻v̧̼̦o̩̫̭̘̟̼͜k̹̹e͓͇͔͔ͅͅ ̱͚͚͕̳̯̀t͙͙̼ẖ̜͈̲͝e̻͕̰ ̳̳̲̳͖̟ͅh̴͎͈i̘͍͕͔͓͡v̪̭e̘͎͔͘-͍̞͈͔͍̣͘m̱̭͢i̺͖̫̹̠̞̫n̺͘ḍ̟͓ ͉̻͍r̲͇e̢̻͔͉͖ͅp̯r̼̬e̷̦̟̣̺̻̮̙s͔̳͍̼̯e͔͝n̦t̺͓̭̰ͅͅi̡n̙̦̪g̛̰ ҉̬̖̠̙̱̣c̨̭̣̝̠h̟̺̹̘̭̭̟a̻͍͓̗o̸s̶̥͔̼͈̻̘.̬̟̤̱̦̙
  ̢͎̪̦̪̹͎̜I͙̠̠̦̦̤n̢̥̤̖̜̤̭̥v̼͕̖͎͙o̷̤͓ͅk̨̹͖̰i̙̺̫͔͠ṋ̰̭͇͢g̞̱̭̤͚̣̀ͅ ̰̻͖t͈̖h̝e̹̫̥ ̷f̘̟e̡̬̜e̦̘̪̬l̲͎i͈̙͕͈̯̱̪n͕̙͇̮̺͍͖g͉͞ ̵͇̰̜͔̲̗͇o͖̟̻f͙̟ ̲̮̣c̭͎̲ha̝̹o̜̱̣͢s̛̗̩̣̜̺͈.̮̜̝ͅ
  ̬̰̟̺̭͡ͅẈ͢i͞t҉͈̦͚̗̘̯h͉̤̹̹̞̗ ͓̱̪͓ͅo͉̻u̙͍͇̭̲̯͝ͅt̜̙ ̟̲̻̫o̸̲̩͈͔̬̹r̮̩̫̱̫̥ḓ̯e̫̭͓̩̞͎͉͞r.̡
  T̪̮͚̘͎͔̕ͅh͡e͖ ̖̪̱̖͉ͅN͝é͉̖̰̦zp͟e̶̼̳͕̲ṛ̣͜d̻į̹̩͖̼a̴̤͙̤̲̘̭͎n̴͎̹̬̠̣̹͍ ̴̰͔͚͎̞̖͚hiv͓͓͔̲͎e̥̭͔͉͈͝-̤m̴̦̬̫̹̠̬̠i͡n̜͖̫̩̞d̮̝ ͚o̹̤̞͓̯̮͚f̖̩͇͖̞̭̟ ͖̝̖̻̪̣ch̶a̖̫̭͓͇̟̹o͚̺͔ş͓̖̲̺ͅͅͅ. ͍̻͙̬̲̣Z͙̜̺͕̞͡a҉͙̳̹̯̤̬̹l̯͘g̞̼̩͈͇͇͢o̝̖͎͈̰͇̩.̶͍̬̲͈
  ͓͇̣͙͕̜H͏͙͉̺e҉ ̲̱̼̯̤̺̤w͍̤̥̝͖̰h͔̰͉̼ơ̱̭ ͈̩̣̪̗ͅW͎̥̬̠̖̪a̻̪͚̠͇͚it͎̫̰̻͖̙̦s ̘̭ͅB̸e̟h̴̭͇͖̮i̘̭̦n͚͕̱͙͝d̗̰ ̦̻T̜̮̫͉͇̳͡h͉̤͈e͎̯̦̹͈ ̞̘͞W̲͚a̭͟l͎̜̦̫͚l̯.͡
  ͔̟̺̩͢Z̳̙͚͚͜A̞̗L̢͇G̭̟̲̗̝ͅO̩͈̥!҉</h2>
</body>
